version: '3.8'

services:
  db:
    image: postgres:16
    container_name: ILUMAP-postgres
    restart: always
    environment:
      POSTGRES_USER: ilumap
      POSTGRES_PASSWORD: ilumap123
      POSTGRES_DB: ilumap_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: ilumap-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  postgres_data: